<% @fridges.each do |fridge| %>
    <ul>
    <lh><a href="/fridges/<%= fridge.id %>"><%= fridge.location %> Fridge</a></lh>
      <li>Brand: <%= fridge.brand %></li>
      <li>Size: <%= fridge.size %></li>
    </ul>
  <% end %>

  <a href="/fridges/new">Create Fridge</a>